// 初始化样式
@import './init.scss';

// 侧边栏样式
.el-menu.el-menu-vertical-demo {

  // 选中颜色改变
  .el-menu-item.is-active {
    color: #fff !important;
    background: #19bf4f !important;
  }

  >.borderBottom.el-submenu.is-opened {
    .el-submenu__title {
      transition: border-color 0s, background-color 0s, color 0s;
      position: relative;
    }

    // 一级目录样式
    >.el-submenu__title:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 36px;
      top: 12px;
      left: 0;
      margin: 0;
      background: #3bc335;
    }

    >.el-menu.el-menu--inline {
      >.el-submenu.is-opened {
        .icon-lab_sec_nor {

          // 二级目录实心圆
          &::before {
            color: #19bf4f !important;
          }
        }

        >.el-menu.el-menu--inline {
          >.el-submenu.is-opened {
            .icon-lab_thi_nor {

              // 三级目录空心圆
              &::before {
                color: #19bf4f !important;
              }
            }
          }
        }
      }
    }
  }

  .el-icon-arrow-down:before {
    content: "\25B6";
  }

  .el-submenu__icon-arrow {
    display: inline-block;
    transform: scale(.7);
    -webkit-transform: scale(.7);
  }

  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    transform: rotate(90deg) scale(.7);
    -webkit-transform: rotate(90deg) scale(.7);
  }

  .is-opened .el-submenu__title .ui-name-icon {
    color: #19bf4f;
  }

  // 侧边菜单icon
  // .el-submenu.is-opened {
  //   &>.el-submenu__title>.iconfont {
  //     color: #19bf4f;
  //   }

  //   // 会员中心
  //   .icon-vip_nor::before {
  //     content: '\e60f'
  //   }

  //   // 供应商管理
  //   .icon-com_nor::before {
  //     content: '\e604'
  //   }

  //   // 商品库
  //   .icon-goo_nor::before {
  //     content: '\e60a'
  //   }

  //   // 类目管理
  //   .icon-cla_nor::before {
  //     content: '\e607'
  //   }

  //   // 类目属性管理
  //   .icon-pro_nor::before {
  //     content: '\e60d'
  //   }

  //   // 采购管理
  //   .icon-purc_nor::before {
  //     content: '\e617'
  //   }

  //   // 台账管理
  //   .icon-sta_nor::before {
  //     content: '\e631'
  //   }

  //   // 系统管理
  //   .icon-xitongguanli::before {
  //     content: '\e64d';
  //   }

  //   // 基础数据
  //   .icon-jichushuju::before {
  //     content: '\e64b';
  //   }

  //   // 价格管理
  //   .icon-jiageguanli::before {
  //     content: '\e646';
  //   }

  //   // 库存管理
  //   .icon-kucunguanli::before {
  //     content: '\e647';
  //   }

  //   // 订单管理
  //   .icon-dingdanguanli::before {
  //     content: '\e644';
  //   }
  // }
}

// 布局公共样式
.c-container {
  margin-bottom: 30px; //总计字体加粗

  .strong span {
    font-weight: 700;
    color: #2c323e !important;
  }

  width: 100%;
  background: inherit;

  .el-button {
    height: 36px;
    padding: 0;
  }

  .c-float {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
  }

  .c-right {
    position: absolute;
    right: 0;
    bottom: 10px;

    .el-button {
      color: #83909d;
    }
  }

  // 公共样式头部header
  .c-header {
    padding: 24px;
    background: white;
    width: 100%; // margin: 30px0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 1px 2px 0px #c4ccd6; // 展开搜索显示

    .el-collapse-item__header {
      border-bottom: 0;
      color: #19bf4f;
      font-weight: 700;
      font-family: '冬青黑体简体中文W6';
      font-size: 14px;
      height: 30px;
      line-height: 30px;

      .el-collapse-item__arrow {
        line-height: 30px;
      }
    }

    .el-collapse {
      border-bottom: 0;
      border-top: 0;
    }

    .el-collapse-item__wrap {
      border-bottom: 0;
    }

    // 表单
    .el-form {
      .el-row {
        .el-form-item {
          margin: 0;
        }

        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .el-col-twoline {
          display: inline-block;
          position: relative;
        }

        .el-date-editor--daterange.el-input__inner {
          width: 100%;
        }

        .el-form-item__label {
          width: 85px;
          float: left;
          text-align: right;
        }

        .el-form-item__content {
          display: block;
          padding-left: 85px;
        }

        .el-form-item {
          white-space: nowrap;
        }

        .el-select {
          display: block;
          position: relative;
        }

        .el-form-item.c-query-select {
          white-space: nowrap;
          display: block;

          .el-input {
            width: 100%;

            .el-input__inner {
              width: 100%;
            }
          }

          .el-form-item__label .c-left {
            text-align: left;
          }
        }

        // 搜索重置按钮
        .c-query-input {
          display: block;
          white-space: nowrap;

          .el-button {
            width: 128px;
            padding: 0;
          }

          .el-button:nth-child(2) {
            margin-left: 20px;
          }
        }

        // 搜索重置按钮右浮动
        .f-right {
          float: right;
        }

        .c-query-range-date {
          white-space: nowrap;
          width: 100%;
        }

        div.el-form-item.c-query-range-date {
          margin-right: 0;
        }
      }

      .el-input-number {
        .el-input__inner {
          text-align: left;
        }
      }
    }
  }
}

// 公共样式第二个头部header
.c-header-second {
  margin-top: 30px;
  border-radius: 8px;
}

// 公共样式主体content
.c-content {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px #c4ccd6;
  padding: 24px;
  display: block;

  .router-link {
    height: 56px;
  }

  .el-button+.el-button {
    margin-left: 20px;
  }

  .m-left {
    margin-left: 20px;
  }

  // 新增供应商按钮
  .s-ll-contn-a {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
  }

  // 表格内容左对齐
  .cell .el-button {
    text-align: left;
  }

  //分页
  .block {
    // float: right;
    margin: 24px 0px 0px 0px;
  }

  // 分页下面的确认按钮
  .btn {
    float: right;
    margin-top: 24px;
  }

  //采购详情
  .c-content-info {
    border-bottom: 4px solid #e9f0f7;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 56px;
    padding-bottom: 16px;
    position: relative;

    .c-content-left {
      position: absolute;
      display: inline-block;
      height: 56px;
      font-size: 20px;
      color: #19bf4f;
      font-weight: 700;
      border-bottom: 4px solid #19bf4f;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .c-content-right {
      float: right;
    }
  }

  .c-content-row {
    border-bottom: 1px solid #ebeef5;

    .el-row {
      margin-top: 30px;
      margin-bottom: 30px;

      .word-break {
        word-break: break-all;
      }

      span {
        font-size: 14px;
      }

      span:first-child {
        color: #83909d;
        font-family: "青东W6";
        margin-right: 14px;
      }

      span:last-child {
        color: #2c323e;
        font-family: "微软雅黑"
      }
    }
  }

  // 表格中按钮的大小设置
  .el-table {
    .cell {
      .text-button-two {
        min-width: 40px;
        margin: 0 10px 0 0;
      }

      .text-button-four {
        min-width: 70px;
        margin: 0 10px 0 0;
      }
    }
  }
}

// 一级标题
.ey-tittle-level1 {
  border-bottom: 4px solid #ebeef5;
  padding-bottom: 16px; // margin-top: 24px;
  font-weight: 700;

  .ey-tittle-content {
    font-size: 20px;
    color: #19bf4f;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      border-bottom: 4px solid #19bf4f;
      border-radius: 2px;
      position: absolute;
      bottom: -20px;
      left: 0px;
      height: 4px;
      width: 100%;
    }
  }
}

// 二级标题
.ey-tittle-level2 {
  font-size: 16px;
  color: #454c5a;
  line-height: 22px;
  position: relative;
  padding-left: 14px;
  margin-bottom: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    height: 18px;
    width: 4px;
    border-radius: 2px;
    background: #19bf4f;
    transform: translate(0, -50%)
  }
}

.icon-warning,
.icon-confirm {
  color: #FFBD25;
  font-size: 48px;
}