// 初始化样式
@import './init.scss';

// 侧边栏样式
.el-menu.el-menu-vertical-demo {

  // 选中颜色改变
  .el-menu-item.is-active {
    color: #fff !important;
    background: #19bf4f !important;
  }

  >.borderBottom.el-submenu.is-opened {
    .el-submenu__title {
      transition: border-color 0s, background-color 0s, color 0s;
      position: relative;
    }

    // 一级目录样式
    >.el-submenu__title:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 36px;
      top: 12px;
      left: 0;
      margin: 0;
      background: #3bc335;
    }

    >.el-menu.el-menu--inline {
      >.el-submenu.is-opened {
        .icon-lab_sec_nor {

          // 二级目录实心圆
          &::before {
            color: #19bf4f !important;
          }
        }

        >.el-menu.el-menu--inline {
          >.el-submenu.is-opened {
            .icon-lab_thi_nor {

              // 三级目录空心圆
              &::before {
                color: #19bf4f !important;
              }
            }
          }
        }
      }
    }
  }

  .el-icon-arrow-down:before {
    content: "\25B6";
  }

  .el-submenu__icon-arrow {
    display: inline-block;
    transform: scale(.7);
    -webkit-transform: scale(.7);
  }

  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    transform: rotate(90deg) scale(.7);
    -webkit-transform: rotate(90deg) scale(.7);
  }

  .is-opened .el-submenu__title .ui-name-icon {
    color: #19bf4f;
  }

  // 侧边菜单icon
  // .el-submenu.is-opened {
  //   &>.el-submenu__title>.iconfont {
  //     color: #19bf4f;
  //   }

  //   // 会员中心
  //   .icon-vip_nor::before {
  //     content: '\e60f'
  //   }

  //   // 供应商管理
  //   .icon-com_nor::before {
  //     content: '\e604'
  //   }

  //   // 商品库
  //   .icon-goo_nor::before {
  //     content: '\e60a'
  //   }

  //   // 类目管理
  //   .icon-cla_nor::before {
  //     content: '\e607'
  //   }

  //   // 类目属性管理
  //   .icon-pro_nor::before {
  //     content: '\e60d'
  //   }

  //   // 采购管理
  //   .icon-purc_nor::before {
  //     content: '\e617'
  //   }

  //   // 台账管理
  //   .icon-sta_nor::before {
  //     content: '\e631'
  //   }

  //   // 系统管理
  //   .icon-xitongguanli::before {
  //     content: '\e64d';
  //   }

  //   // 基础数据
  //   .icon-jichushuju::before {
  //     content: '\e64b';
  //   }

  //   // 价格管理
  //   .icon-jiageguanli::before {
  //     content: '\e646';
  //   }

  //   // 库存管理
  //   .icon-kucunguanli::before {
  //     content: '\e647';
  //   }

  //   // 订单管理
  //   .icon-dingdanguanli::before {
  //     content: '\e644';
  //   }
  // }
}